# Enable a state debuger for your reducers
REACT_APP_DEBUG_STATE=1

# Brightcove video player
REACT_APP_BRIGHTCOVE_ACCOUNT_ID=
REACT_APP_BRIGHTCOVE_FRENCH_PLAYER_ID=
REACT_APP_BRIGHTCOVE_ENGLISH_PLAYER_ID=
REACT_APP_BRIGHTCOVE_ARABIC_PLAYER_ID=

# Pexels API key
REACT_APP_IMAGE_API_KEY=
REACT_APP_MOCK_SERVER_API_URL=
