@import '../../../Style/variables';
@import '../../../Style/mixins';

div[data-is="media-picker"] {
  @include animate-default();

  direction: ltr;
  background-color: white;
  border-bottom: 1px $grey solid;
  overflow: hidden;
  height: 550px;
  width: 100%;
  position: fixed;
  top: 0px;
  margin: 0;
  z-index: $zindex-2;

  &.closed {
    height: 0px;
    border: none;
    margin: 0;
  }

  .close {
    display: block;
    margin: auto;
    text-align: center;
  }

  .left, .right {
    position: relative;

    .icomoon-font {
      font-size: $size-4;
    }
  }

  .close {
    margin-right: $size-7;
  }

  .search-images {
    margin: $size-5 auto;
    padding: 0 $size-1;

    form {
      display: flex;
      flex-direction: row;
    }

    ul.picker-buttons {
      margin-left: $size-5;

      li {
        display: inline-block;
        margin-right: $size-7;

        .btn-knp .icomoon-font {
          font-size: $size-5;
        }

        .btn-knp.active {
          color: $black;

          .icomoon-font {
            font-weight: $weight-semibold;
          }
        }
      }
    }
  }
}
