@import '../../../Style/variables';

.paragraph-toolbox {
  position: absolute;
  opacity: 0;
  transition: ease 0.5s all;
  z-index: $zindex-1;
  pointer-events: none;
  left: -80px;

  form.insert-tweet,
  form.insert-youtube {
    left: 80px;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  ul {
    width: 60px;
    height: 40px;

    li {
      display: inline-block;

      button {
        cursor: pointer;
        padding: 0 5px 0 5px;
        margin: 0;
        color: $darker-grey;
        font-size: $size-5;
        border: none;
        background-color: $white;
        outline: none;

        &:hover {
          color: $black;
        }

        &.active {
          color: $black;
        }
      }
    }
  }

  form.insert-tweet,
  form.insert-youtube {
    position: absolute;
    top: -5px;

    input {
      width: 260px;
      direction: ltr;
    }
  }
}
