@import '../Style/variables';
@import './mixins';

.resource-editor {

  section.cover.image {
    margin-bottom: $size-1;

    form {
      textarea.title,
      textarea.caption {
        width: 100%;
        background-color: transparent;
        padding: 5px;
        outline: none;

        &:not(.placeholder) {
          border: none;
        }
      }

      textarea.title {
        margin: $size-3 auto $size-3 auto;
      }

      textarea.caption {
        margin: $size-6 auto 0 auto;
        color: $gray;
        font-style: italic;
        font-size: $size-6;
        text-align: center;
      }
    }

    figure.signature {
      display: block;
      padding-bottom: $size-5;
      height: auto;
      cursor: pointer;

      .signature.placeholder {
        min-height: 80px;
        line-height: 4.5;
      }

      @media(max-width: $size-sm) {
        text-align: center;
      }

      .profile-wrapper {
        vertical-align: top;
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 0 $size-6 0 $size-6;

        @media(max-width: $size-sm) {
          display: block;
          margin: 0 auto;
          margin-bottom: $mp-m;
        }

        img {
          width: 50px;
          border-radius: 25px;
        }
      }

      figcaption {
        display: inline-block;
        font-size: $font-m;
        color: $color-deep-blue;
        line-height: 1.4em;

        p {
          margin: 0;
          font-weight: bold;
          word-wrap: break-word;

          &.author-bio {
            margin-top: $size-7;
            margin-bottom: $size-6;
            font-weight: normal;
            color: $color-grey-light;
          }
        }

        time, p.author-bio {
          color: $color-grey-light;
          font-size: $font-s;
          display: block;
          word-wrap: break-word;
        }
      }
    }

    .video-wrapper {
      padding-top: 45%;
      width: 100%;
      padding-top: 56.25%; // this sets the actual height of the video container
      position: relative;

      p.replace-video {
        @include animate-default();

        position: absolute;
        top: 15px;
        right: 15px;
        z-index: $zindex-0;
        cursor: pointer;
        color: $white;
        background-color: $gray;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 1.8;

        &:hover {
          background-color: $black;
        }
      }

      video, .video-js {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 0;
        width: 100%;
        height: 100%;
      }
    }

    figure.image {
      max-width: 850px;
      margin: auto;

      .cover-container {
          position: relative;

          figcaption.credit {
            padding: $size-7;
            position: absolute;
            bottom: 0;
            color: $white;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            text-align: left;
          }
      }

      img {
        object-fit: contain;
        margin: auto;
        align-self: center;
        cursor: pointer;
      }
    }

    .brightcove-video {
      margin: 0;
      margin-bottom: $size-6;

      .hero-unit {
        max-width: 100vw;
      }
    }
  }

  .container.page {
    min-height: 400px;

    article {
      position:relative;

      .link {
        @include animate-default();

        cursor: pointer;
        color: lighten($color-deep-blue, 20%);

        &:hover {
          color: $color-deep-blue;
        }
      }
    }

    .ads-preview {
      border: 1px solid $color-grey;
    }
  }
}
