@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot') format('eot'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('ttf'),
    url('/fonts/icomoon.svg') format('svg');
}

.icomoon-font {
  font-family: 'icomoon';
}
