@font-face {
  font-family: 'I24News';
  src: url('/fonts/i24news.eot') format('eot'),
    url('/fonts/i24news.woff') format('woff'),
    url('/fonts/i24news.ttf') format('ttf'),
    url('/fonts/i24news.svg') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot') format('eot'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('ttf'),
    url('/fonts/icomoon.svg') format('svg');
}

.i24-icons {
  font-family: 'I24news';
}

.icomoon-font {
  font-family: 'icomoon';
}
