@import 'bulma/sass/utilities/initial-variables';

// zindex
$zindex-0: 0;
$zindex-1: 1000;
$zindex-2: 2000;

// colors
$black: #1c222e;
$light-blue: #1051a8;
$white: #ffffff;
$grey: #d6d6d6;
$darker-grey: darken($grey, 20%);
